<header>
    <h1>My to-do List</h1>
    <nav>
        <ul>
            <li><a href="/">view all the tasks</a></li>
            <li><a href="/showForm">add a new task</a></li>
        </ul>
    </nav>
</header>