nav,
article,
aside,
footer section {
  margin: 0 auto;
  width: 900px;
}

nav {
  margin-top: 25px;
}

#logo {
  float: left;
  padding-bottom: 25px;
  color: black;
  text-decoration: none;
}

#slogan {
  width: 250px;
  padding-left: 55px;
  color: #a3a4a2;
  font-family: "Abel", sans-serif;
  font-size: 0.65em;
  text-transform: uppercase;
}

.print,
.date {
  color: #a9a8a5;
  font-family: "Abel", sans-serif;
  font-size: 0.8em;
  margin: 0;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 33px;
}

.date {
  float: left;
}

.print {
  text-decoration: none;
  padding-left: 30px;
  float: right;
}

.recipe {
  letter-spacing: 0.1em;
  font-family: "Patrick Hand", cursive;
  color: #666a42;
  background-image: url("img/list-bg.png");
  height: 260px;
  padding: 37px 0 0 60px;
  margin: 40px 0;
}

aside {
  padding-top: 30px;
  padding-bottom: 60px;
}

input {
  font-family: 'Patrick Hand', cursive;
}
