body {
    background: #eee;
   font-family: sans-serif;
}
div {
   background: #111;
   color: #eee;
   height: 300px;
   width:20%;
}




@media (min-width: 900px) { 

  /* when the device width is greater than or equal to 900px.(desktop size) */
 body {
   background: #ff0000;
 }

 div {
     /* display: inline-block;
     width: 45%; */
     float: left;
     margin-left: 10px;
     width: 30%;
 }
}
